<div class="list-group">
  {% for section in site[page.styleguide] %}
  	{% if section.publish == draft %}
  		<a class="list-group-item {% if section.url == page.url %}active{% endif %}" href="{{ section.url }}"><!-- {% include badge.html %} --><span class="badge">{{ section.badge }}</span>{{ section.title }}</a>
  	{% else %}
	    
  	{% endif %}
  {% endfor %}
</div>

<!-- {% assign componentsByType = site.famousfootwear | group_by:"type" %}
{% for type in componentsByType %}
<h2 id="guide-{{ type.name }}" class="cf">{{ type.name | capitalize }}</h2>
 <li>
    <a href="{{ famousfootwear.url }}">{{ famousfootwear.title }}</a>
  </li>
{% endfor %} -->